body{
	font-family: 'Lato';
    color: var(--gray-900-color);
    @media (min-width: 1800px){
        &::before{
            content: "";
            position: absolute;
            top: 85px;
            right: 0px;
            width: 143px;
            aspect-ratio: 4/4;
            background-image: url("../images/bg-decor-top.svg");
            background-position: center right;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.container{
	max-width: calc(1230px + 120px);
	width: 100%;
	margin: 0 auto;
	padding: 0 60px;
	@media (max-width: 1280px){
		padding: 0 40px;
	}
	@media (max-width: 600px){
		padding: 0 20px;
	}
}