//Colors
:root{
    --gray-900-color: #1E212C;
    --gray-800-color: #424551;
    --gray-700-color: #787A80;
    --gray-600-color: #9A9CA5;
    --gray-400-color: #D7DADD;
    --gray-300-color: #E5E8ED;
    --danger-color: #FF4242;
    --primary-color: #FF3F3A;
    --white: #FFFFFF;
}